/* NProgress Customization for DaisyUI/Tailwind */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  /* Use DaisyUI Primary Color */
  background: oklch(var(--p));
  
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /* Shadow matching the primary color */
  box-shadow: 0 0 10px oklch(var(--p)), 0 0 5px oklch(var(--p));
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove spinner as requested in JS config, but hide here too just in case */
#nprogress .spinner {
  display: none;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
