<!-- Inspira UI: Hyper Text (Alpine.js Port) -->
<h1 
    x-data="{
        text: '{{ text|escapejs }}',
        displayText: '{{ text|escapejs }}',
        characters: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789',
        interval: null,
        
        init() {
            // Optional: Animate on load
            // this.startScramble();
        },

        startScramble() {
            let iteration = 0;
            clearInterval(this.interval);
            
            this.interval = setInterval(() => {
                this.displayText = this.text
                    .split('')
                    .map((letter, index) => {
                        if (index < iteration) {
                            return this.text[index];
                        }
                        if (letter === ' ') return ' ';
                        return this.characters[Math.floor(Math.random() * this.characters.length)];
                    })
                    .join('');
                
                if (iteration >= this.text.length) {
                    clearInterval(this.interval);
                }
                
                iteration += 1 / 3;
            }, 30);
        }
    }" 
    @mouseenter="startScramble()"
    class="cursor-default {{ extra_classes }}"
    x-text="displayText"
>
    {{ text }}
</h1>
